PDF_PARSER=grobid
GROBID_HOST=host.docker.internal

# OPENAI_URL="https://host.docker.internal:11434/v1" # For ollama running locally
OPENAI_URL="https://chat-ai.academiccloud.de/v1" # GWDG's hosted LLM API, requires API key; default if GWDG_API_KEY is set
GWDG_API_KEY="Your API Key" # The API key for GWDG's hosted LLM API; automatically sets the OPENAI_URL to "https://chat-ai.academiccloud.de/v1" if set
# OPENAI_API_KEY="Your API Key" # The API key for non-GWDG hosted LLM APIs; only used if GWDG_API_KEY is not set
DEFAULT_MODEL="qwq-32b" # The default model to use for LLM calls