mcp-agent
asyncio
# For the openalex server
httpx
mcp[cli]
# API backend
fastapi[standard]
python-dotenv
# database
sqlalchemy
aiosqlite
# OpenAI
openai>=1.0.0
# LLM structured outputs
instructor
# PDF parsing
requests