<!-- Main application container -->
<div class="app-container">
  <app-header></app-header>

  <div class="main-content">
    <!-- Home page content -->
    <!-- Only show the home page content when on the home route -->
    <div class="content-pages">
      <div *ngIf="router.url === '/'">
        <app-hero (search)="onSearch($event)"></app-hero>

        <div class="loading-container" *ngIf="isLoading">
          <div class="spinner"></div>
          <p class="loading-text">Searching for literature. This might take a while...</p>
        </div>

        <div class="content-section" *ngIf="showResults && !isLoading">
          <app-results class="content-item" [showResults]="showResults"></app-results>
          <app-topics class="content-item" [showTopics]="showTopics"></app-topics>
        </div>
      </div>

      <!-- Routed pages (e.g., Collection) -->
      <!-- Only show the router outlet when not on the home route (to prevent showing the home page twice) -->
      <div *ngIf="router.url !== '/'">
        <router-outlet />
      </div>
    </div>

    <app-footer></app-footer>
  </div>
